.Btn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin-bottom: 24px;
    border-radius: calc(45px/2);
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
    z-index: 1;

    transform: rotate(0);
    transition: .3s ease;
  }

  .Btn:hover {
    transform: rotate(224deg);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    font-size: 2.2em;
    font-weight: bold;
    color: white;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }